?਀戀漀搀礀㼀
{?਀ऀ氀椀渀攀ⴀ栀攀椀最栀琀㨀 ㄀⸀㘀攀洀㬀㼀
}?਀㼀
#hor-minimalist-a?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	background: #fff;?਀ऀ洀愀爀最椀渀㨀 㐀㔀瀀砀㬀㼀
	width: 480px;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	text-align: left;?਀紀㼀
#hor-minimalist-a th?਀笀㼀
	font-size: 14px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	color: #039;?਀ऀ瀀愀搀搀椀渀最㨀 ㄀　瀀砀 㠀瀀砀㬀㼀
	border-bottom: 2px solid #6678b1;?਀紀㼀
#hor-minimalist-a td?਀笀㼀
	color: #669;?਀ऀ瀀愀搀搀椀渀最㨀 㤀瀀砀 㠀瀀砀 　瀀砀 㠀瀀砀㬀㼀
}?਀⌀栀漀爀ⴀ洀椀渀椀洀愀氀椀猀琀ⴀ愀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀　　㤀㬀㼀
}?਀㼀
?਀⌀栀漀爀ⴀ洀椀渀椀洀愀氀椀猀琀ⴀ戀㼀
{?਀ऀ昀漀渀琀ⴀ昀愀洀椀氀礀㨀 ∀䰀甀挀椀搀愀 匀愀渀猀 唀渀椀挀漀搀攀∀Ⰰ ∀䰀甀挀椀搀愀 䜀爀愀渀搀攀∀Ⰰ 匀愀渀猀ⴀ匀攀爀椀昀㬀㼀
	font-size: 12px;?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀昀昀昀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	border-collapse: collapse;?਀ऀ琀攀砀琀ⴀ愀氀椀最渀㨀 氀攀昀琀㬀㼀
}?਀⌀栀漀爀ⴀ洀椀渀椀洀愀氀椀猀琀ⴀ戀 琀栀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㐀瀀砀㬀㼀
	font-weight: normal;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
	padding: 10px 8px;?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㈀瀀砀 猀漀氀椀搀 ⌀㘀㘀㜀㠀戀㄀㬀㼀
}?਀⌀栀漀爀ⴀ洀椀渀椀洀愀氀椀猀琀ⴀ戀 琀搀㼀
{?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀挀挀挀㬀㼀
	color: #669;?਀ऀ瀀愀搀搀椀渀最㨀 㘀瀀砀 㠀瀀砀㬀㼀
	white-space:nowrap;?਀紀㼀
#hor-minimalist-b tbody tr:hover td?਀笀㼀
	color: #009;?਀紀㼀
?਀㼀
#ver-minimalist?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
}?਀⌀瘀攀爀ⴀ洀椀渀椀洀愀氀椀猀琀 琀栀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀 ㈀瀀砀㬀㼀
	font-weight: normal;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㐀瀀砀㬀㼀
	border-bottom: 2px solid #6678b1;?਀ऀ戀漀爀搀攀爀ⴀ爀椀最栀琀㨀 ㌀　瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	border-left: 30px solid #fff;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀瘀攀爀ⴀ洀椀渀椀洀愀氀椀猀琀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 ㄀㈀瀀砀 ㈀瀀砀 　瀀砀 ㈀瀀砀㬀㼀
	border-right: 30px solid #fff;?਀ऀ戀漀爀搀攀爀ⴀ氀攀昀琀㨀 ㌀　瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #669;?਀紀㼀
?਀㼀
#box-table-a?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
}?਀⌀戀漀砀ⴀ琀愀戀氀攀ⴀ愀 琀栀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㌀瀀砀㬀㼀
	font-weight: normal;?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #b9c9fe;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 㐀瀀砀 猀漀氀椀搀 ⌀愀愀戀挀昀攀㬀㼀
	border-bottom: 1px solid #fff;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀戀漀砀ⴀ琀愀戀氀攀ⴀ愀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #e8edff; ?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 琀爀愀渀猀瀀愀爀攀渀琀㬀㼀
}?਀⌀戀漀砀ⴀ琀愀戀氀攀ⴀ愀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀搀　搀愀昀搀㬀㼀
	color: #339;?਀紀㼀
?਀㼀
#box-table-b?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: center;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	border-top: 7px solid #9baff1;?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 㜀瀀砀 猀漀氀椀搀 ⌀㤀戀愀昀昀㄀㬀㼀
}?਀⌀戀漀砀ⴀ琀愀戀氀攀ⴀ戀 琀栀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㌀瀀砀㬀㼀
	font-weight: normal;?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #e8edff;?਀ऀ戀漀爀搀攀爀ⴀ爀椀最栀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀㤀戀愀昀昀㄀㬀㼀
	border-left: 1px solid #9baff1;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀戀漀砀ⴀ琀愀戀氀攀ⴀ戀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #e8edff; ?਀ऀ戀漀爀搀攀爀ⴀ爀椀最栀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀愀愀戀挀昀攀㬀㼀
	border-left: 1px solid #aabcfe;?਀ऀ挀漀氀漀爀㨀 ⌀㘀㘀㤀㬀㼀
}?਀㼀
?਀⌀栀漀爀ⴀ稀攀戀爀愀㼀
{?਀ऀ昀漀渀琀ⴀ昀愀洀椀氀礀㨀 ∀䰀甀挀椀搀愀 匀愀渀猀 唀渀椀挀漀搀攀∀Ⰰ ∀䰀甀挀椀搀愀 䜀爀愀渀搀攀∀Ⰰ 匀愀渀猀ⴀ匀攀爀椀昀㬀㼀
	font-size: 12px;?਀ऀ洀愀爀最椀渀㨀 㐀㔀瀀砀㬀㼀
	width: 480px;?਀ऀ琀攀砀琀ⴀ愀氀椀最渀㨀 氀攀昀琀㬀㼀
	border-collapse: collapse;?਀紀㼀
#hor-zebra th?਀笀㼀
	font-size: 14px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	padding: 10px 8px;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀栀漀爀ⴀ稀攀戀爀愀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	color: #669;?਀紀㼀
#hor-zebra .odd?਀笀㼀
	background: #e8edff; ?਀紀㼀
?਀㼀
#ver-zebra?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
}?਀⌀瘀攀爀ⴀ稀攀戀爀愀 琀栀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㐀瀀砀㬀㼀
	font-weight: normal;?਀ऀ瀀愀搀搀椀渀最㨀 ㄀㈀瀀砀 ㄀㔀瀀砀㬀㼀
	border-right: 1px solid #fff;?਀ऀ戀漀爀搀攀爀ⴀ氀攀昀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #039;?਀紀㼀
#ver-zebra td?਀笀㼀
	padding: 8px 15px;?਀ऀ戀漀爀搀攀爀ⴀ爀椀最栀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	border-left: 1px solid #fff;?਀ऀ挀漀氀漀爀㨀 ⌀㘀㘀㤀㬀㼀
}?਀⸀瘀稀攀戀爀愀ⴀ漀搀搀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀攀昀昀㈀昀昀㬀㼀
}?਀⸀瘀稀攀戀爀愀ⴀ攀瘀攀渀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀攀㠀攀搀昀昀㬀㼀
}?਀⌀瘀攀爀ⴀ稀攀戀爀愀 ⌀瘀稀攀戀爀愀ⴀ愀搀瘀攀渀琀甀爀攀Ⰰ ⌀瘀攀爀ⴀ稀攀戀爀愀 ⌀瘀稀攀戀爀愀ⴀ挀栀椀氀搀爀攀渀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀搀　搀愀昀搀㬀㼀
	border-bottom: 1px solid #c8d4fd;?਀紀㼀
#ver-zebra #vzebra-comedy, #ver-zebra #vzebra-action?਀笀㼀
	background: #dce4ff;?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀搀㘀搀昀昀昀㬀㼀
}?਀㼀
?਀⌀漀渀攀ⴀ挀漀氀甀洀渀ⴀ攀洀瀀栀愀猀椀猀㼀
{?਀ऀ昀漀渀琀ⴀ昀愀洀椀氀礀㨀 ∀䰀甀挀椀搀愀 匀愀渀猀 唀渀椀挀漀搀攀∀Ⰰ ∀䰀甀挀椀搀愀 䜀爀愀渀搀攀∀Ⰰ 匀愀渀猀ⴀ匀攀爀椀昀㬀㼀
	font-size: 12px;?਀ऀ洀愀爀最椀渀㨀 㐀㔀瀀砀㬀㼀
	width: 480px;?਀ऀ琀攀砀琀ⴀ愀氀椀最渀㨀 氀攀昀琀㬀㼀
	border-collapse: collapse;?਀紀㼀
#one-column-emphasis th?਀笀㼀
	font-size: 14px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	padding: 12px 15px;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀漀渀攀ⴀ挀漀氀甀洀渀ⴀ攀洀瀀栀愀猀椀猀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 ㄀　瀀砀 ㄀㔀瀀砀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀攀㠀攀搀昀昀㬀㼀
}?਀⸀漀挀攀ⴀ昀椀爀猀琀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀搀　搀愀昀搀㬀㼀
	border-right: 10px solid transparent;?਀ऀ戀漀爀搀攀爀ⴀ氀攀昀琀㨀 ㄀　瀀砀 猀漀氀椀搀 琀爀愀渀猀瀀愀爀攀渀琀㬀㼀
}?਀⌀漀渀攀ⴀ挀漀氀甀洀渀ⴀ攀洀瀀栀愀猀椀猀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: #eff2ff;?਀紀㼀
?਀㼀
#newspaper-a?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	border: 1px solid #69c;?਀紀㼀
#newspaper-a th?਀笀㼀
	padding: 12px 17px 12px 17px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	font-size: 14px;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
	border-bottom: 1px dashed #69c;?਀紀㼀
#newspaper-a td?਀笀㼀
	padding: 7px 17px 7px 17px;?਀ऀ挀漀氀漀爀㨀 ⌀㘀㘀㤀㬀㼀
}?਀⌀渀攀眀猀瀀愀瀀攀爀ⴀ愀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: #d0dafd;?਀紀㼀
?਀㼀
#newspaper-b?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	border: 1px solid #69c;?਀紀㼀
#newspaper-b th?਀笀㼀
	padding: 15px 10px 10px 10px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	font-size: 14px;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀渀攀眀猀瀀愀瀀攀爀ⴀ戀 琀戀漀搀礀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀攀㠀攀搀昀昀㬀㼀
}?਀⌀渀攀眀猀瀀愀瀀攀爀ⴀ戀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 ㄀　瀀砀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 搀愀猀栀攀搀 ⌀昀昀昀㬀㼀
}?਀⌀渀攀眀猀瀀愀瀀攀爀ⴀ戀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: #d0dafd;?਀紀㼀
?਀㼀
#newspaper-c?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	border: 1px solid #6cf;?਀紀㼀
#newspaper-c th?਀笀㼀
	padding: 20px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	font-size: 13px;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
	text-transform: uppercase;?਀ऀ戀漀爀搀攀爀ⴀ爀椀最栀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀　㠀㘀㔀挀㈀㬀㼀
	border-top: 1px solid #0865c2;?਀ऀ戀漀爀搀攀爀ⴀ氀攀昀琀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀　㠀㘀㔀挀㈀㬀㼀
	border-bottom: 1px solid #fff;?਀紀㼀
#newspaper-c td?਀笀㼀
	padding: 10px 20px;?਀ऀ挀漀氀漀爀㨀 ⌀㘀㘀㤀㬀㼀
	border-right: 1px dashed #6cf;?਀紀㼀
?਀㼀
#rounded-corner?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
}?਀⌀爀漀甀渀搀攀搀ⴀ挀漀爀渀攀爀 琀栀攀愀搀 琀栀⸀爀漀甀渀搀攀搀ⴀ挀漀洀瀀愀渀礀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀戀㤀挀㤀昀攀 甀爀氀⠀✀琀愀戀氀攀ⴀ椀洀愀最攀猀⼀氀攀昀琀⸀瀀渀最✀⤀ 氀攀昀琀 ⴀ㄀瀀砀 渀漀ⴀ爀攀瀀攀愀琀㬀㼀
}?਀⌀爀漀甀渀搀攀搀ⴀ挀漀爀渀攀爀 琀栀攀愀搀 琀栀⸀爀漀甀渀搀攀搀ⴀ焀㐀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀戀㤀挀㤀昀攀 甀爀氀⠀✀琀愀戀氀攀ⴀ椀洀愀最攀猀⼀爀椀最栀琀⸀瀀渀最✀⤀ 爀椀最栀琀 ⴀ㄀瀀砀 渀漀ⴀ爀攀瀀攀愀琀㬀㼀
}?਀⌀爀漀甀渀搀攀搀ⴀ挀漀爀渀攀爀 琀栀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	font-weight: normal;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㌀瀀砀㬀㼀
	color: #039;?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀戀㤀挀㤀昀攀㬀㼀
}?਀⌀爀漀甀渀搀攀搀ⴀ挀漀爀渀攀爀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #e8edff;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #669;?਀紀㼀
#rounded-corner tfoot td.rounded-foot-left?਀笀㼀
	background: #e8edff url('table-images/botleft.png') left bottom no-repeat;?਀紀㼀
#rounded-corner tfoot td.rounded-foot-right?਀笀㼀
	background: #e8edff url('table-images/botright.png') right bottom no-repeat;?਀紀㼀
#rounded-corner tbody tr:hover td?਀笀㼀
	background: #d0dafd;?਀紀㼀
?਀㼀
#background-image?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	background: url('table-images/blurry.jpg') 330px 59px no-repeat;?਀紀㼀
#background-image th?਀笀㼀
	padding: 12px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	font-size: 14px;?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
}?਀⌀戀愀挀欀最爀漀甀渀搀ⴀ椀洀愀最攀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㤀瀀砀 ㄀㈀瀀砀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
}?਀⌀戀愀挀欀最爀漀甀渀搀ⴀ椀洀愀最攀 琀昀漀漀琀 琀搀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㄀瀀砀㬀㼀
}?਀⌀戀愀挀欀最爀漀甀渀搀ⴀ椀洀愀最攀 琀戀漀搀礀 琀搀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 甀爀氀⠀✀琀愀戀氀攀ⴀ椀洀愀最攀猀⼀戀愀挀欀⸀瀀渀最✀⤀㬀㼀
}?਀⨀ 栀琀洀氀 ⌀戀愀挀欀最爀漀甀渀搀ⴀ椀洀愀最攀 琀戀漀搀礀 琀搀㼀
{?਀ऀ⼀⨀ 㼀
	   ----------------------------?਀ऀऀ倀唀吀 吀䠀䤀匀 伀一 䤀䔀㘀 伀一䰀夀 匀吀夀䰀䔀 㼀
		AS THE RULE INVALIDATES?਀ऀऀ夀伀唀刀 匀吀夀䰀䔀匀䠀䔀䔀吀㼀
	   ----------------------------?਀ऀ⨀⼀㼀
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='table-images/back.png',sizingMethod='crop');?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 渀漀渀攀㬀㼀
}	?਀⌀戀愀挀欀最爀漀甀渀搀ⴀ椀洀愀最攀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: none;?਀紀㼀
?਀㼀
#gradient-style?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
}?਀⌀最爀愀搀椀攀渀琀ⴀ猀琀礀氀攀 琀栀㼀
{?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㌀瀀砀㬀㼀
	font-weight: normal;?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀㼀
	background: #b9c9fe url('table-images/gradhead.png') repeat-x;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㈀瀀砀 猀漀氀椀搀 ⌀搀㌀搀搀昀昀㬀㼀
	border-bottom: 1px solid #fff;?਀ऀ挀漀氀漀爀㨀 ⌀　㌀㤀㬀㼀
}?਀⌀最爀愀搀椀攀渀琀ⴀ猀琀礀氀攀 琀搀㼀
{?਀ऀ瀀愀搀搀椀渀最㨀 㠀瀀砀㬀 㼀
	border-bottom: 1px solid #fff;?਀ऀ挀漀氀漀爀㨀 ⌀㘀㘀㤀㬀㼀
	border-top: 1px solid #fff;?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀攀㠀攀搀昀昀 甀爀氀⠀✀琀愀戀氀攀ⴀ椀洀愀最攀猀⼀最爀愀搀戀愀挀欀⸀瀀渀最✀⤀ 爀攀瀀攀愀琀ⴀ砀㬀㼀
}?਀⌀最爀愀搀椀攀渀琀ⴀ猀琀礀氀攀 琀昀漀漀琀 琀爀 琀搀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀攀㠀攀搀昀昀㬀㼀
	font-size: 12px;?਀ऀ挀漀氀漀爀㨀 ⌀㤀㤀挀㬀㼀
}?਀⌀最爀愀搀椀攀渀琀ⴀ猀琀礀氀攀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ戀愀挀欀最爀漀甀渀搀㨀 ⌀搀　搀愀昀搀 甀爀氀⠀✀琀愀戀氀攀ⴀ椀洀愀最攀猀⼀最爀愀搀栀漀瘀攀爀⸀瀀渀最✀⤀ 爀攀瀀攀愀琀ⴀ砀㬀㼀
	color: #339;?਀紀㼀
?਀㼀
#pattern-style-a?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	background: url('table-images/pattern.png');?਀紀㼀
#pattern-style-a thead tr?਀笀㼀
	background: url('table-images/pattern-head.png');?਀紀㼀
#pattern-style-a th?਀笀㼀
	font-size: 13px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	padding: 8px;?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #039;?਀紀㼀
#pattern-style-a td?਀笀㼀
	padding: 8px; ?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 琀爀愀渀猀瀀愀爀攀渀琀㬀㼀
}?਀⌀瀀愀琀琀攀爀渀ⴀ猀琀礀氀攀ⴀ愀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: #fff;?਀紀㼀
?਀㼀
#pattern-style-b?਀笀㼀
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;?਀ऀ昀漀渀琀ⴀ猀椀稀攀㨀 ㄀㈀瀀砀㬀㼀
	margin: 45px;?਀ऀ眀椀搀琀栀㨀 㐀㠀　瀀砀㬀㼀
	text-align: left;?਀ऀ戀漀爀搀攀爀ⴀ挀漀氀氀愀瀀猀攀㨀 挀漀氀氀愀瀀猀攀㬀㼀
	background: url('table-images/patternb.png');?਀紀㼀
#pattern-style-b thead tr?਀笀㼀
	background: url('table-images/patternb-head.png');?਀紀㼀
#pattern-style-b th?਀笀㼀
	font-size: 13px;?਀ऀ昀漀渀琀ⴀ眀攀椀最栀琀㨀 渀漀爀洀愀氀㬀㼀
	padding: 8px;?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #039;?਀紀㼀
#pattern-style-b td?਀笀㼀
	padding: 8px; ?਀ऀ戀漀爀搀攀爀ⴀ戀漀琀琀漀洀㨀 ㄀瀀砀 猀漀氀椀搀 ⌀昀昀昀㬀㼀
	color: #669;?਀ऀ戀漀爀搀攀爀ⴀ琀漀瀀㨀 ㄀瀀砀 猀漀氀椀搀 琀爀愀渀猀瀀愀爀攀渀琀㬀㼀
}?਀⌀瀀愀琀琀攀爀渀ⴀ猀琀礀氀攀ⴀ戀 琀戀漀搀礀 琀爀㨀栀漀瘀攀爀 琀搀㼀
{?਀ऀ挀漀氀漀爀㨀 ⌀㌀㌀㤀㬀㼀
	background: #cdcdee;?਀紀